doctype html
<!-- @include _site -->
<!-- @include _conditional -->

  head
    title <!-- $site-title -->
    <!-- @include _head-meta -->

    <!-- RSS -->
    link rel="alternate" type="application/rss+xml" href="/rss" title="RSS Feed"

    <!-- stylesheets -->
    <!-- @stylesheet lightweightadventures -->
    <!-- @stylesheet ss-social-regular.min -->

    <!-- javascript -->
    <!-- @reload -->
    <!-- @javascript head.load.min -->
    script src="//use.typekit.net/kxx6oxw.js"
    javascript:
      try {
        Typekit.load();
      } catch (e) {}
    script src="http://maps.googleapis.com/maps/api/js"

    <!-- @include _icons -->


  body class="blog" id="<!-- $site-id -->"
    #l-wrap.wrap
      header role="banner" id="l-header" class="banner"
        a href="/" class="logo"
          img src="<!-- @path lightweightadventures.png -->" alt="<!-- $site-description -->"

        <!-- @include _nav-toggle -->

      <!-- @todo Make sure tags wrap properly from _header to _footer -->
