<!-- Load libraries -->
javascript:
  head.js(
  // Place scripts to be loaded here, in the order the need to be executed
  // Typically libraries are needed first, such as jQuery (as the plugins
  // depend on jQuery to execute). Ensure all filenames you wish
  // head.js to load are surrounded with quotes. Also, this is a list, so
  // ensure that all but the last item are followed by a comma.

    "/assets/js/vendor/modernizr-2.6.2-min.js",
    "<!-- @path jquery.min.js -->",
    "<!-- @path jquery.scrollTo.min.js -->",
    "<!-- @path nav-toggle.min.js -->",
    "<!-- @path dropcap.js -->",
    "<!-- @path embedly.js -->",
    "<!-- @path google-maps.js -->",
    "<!-- @path search.js -->",
    "<!-- @path fuse.js -->",
    "<!-- @path dropcaps.js -->",
    "<!-- @path ss-social.min.js -->"
  );


  // Google Analytics code
  // Set your account ID appropriately by replacing UA-XXXXX-X
  var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
