<!doctype html>

{% include "../includes/conditional.html" %}

<head>
    <title>{% block title %}{% endblock %}</title>

    {% include "../includes/head-meta.html" %}

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" href="/rss" title="RSS Feed">

    <!-- stylesheets -->
    <link href="/assets/css/lightweightadventures.css" rel="stylesheet" type="text/css" media="all">
    <link href="/assets/webfonts/ss-social-regular.min.css" rel="stylesheet" type="text/css" media="all">

    <!-- javascript -->
    <script src="//localhost:9091"></script>
    <script src="/assets/js/vendor/head.load.min.js"></script>
    <script src="//use.typekit.net/kxx6oxw.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <script src="http://maps.googleapis.com/maps/api/js"></script>

    <!-- icons -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="shortcut icon" href="favicon.png">
</head>

<body class="blog" id="{{ site.id }}">

    <div class="wrap" id="l-wrap">
        <header role="banner" id="l-header" class="banner">
            <a href="/" class="logo">
                <img src="/assets/img/lightweightadventures.png" alt="{{ site.description }}">
            </a>

            {% include "../includes/modules/nav-toggle.html" %}
        </header>

        <main id="l-main-content" role="main">

        {% block content %}{% endblock %}

        </main>

        {% include "../includes/sidebar.html" %}

        {% include "../includes/footer.html" %}

    </div><!-- #l-wrap -->

    {% include "../includes/scripts.html" %}

</body>
</html>
