{% extends 'layouts/default.html' %}

{% block title %} Categories | {{ site.title }}{% endblock %}

{% block content %}
	<article class="categories archives page">
		<header>
			<h1>Categories</h1>
		</header>


    {% for file in files %}
        {% set title = file.title %}
        {% set posts = file.posts %}

		<table class="{{ title }} cat archive">
			<thead id="{{ title }}">
				<tr><th>{{ title }}</th></tr>
			</thead>

			<tbody>
                {% for post in posts %}
                <tr>
				  <td class="post-title"><a href="/blog/{{ post.slug }}">{{ post.title }}</a></td>
				  <td class="post-date">{{ post.date }}</td>
				</tr>
                {% endfor %}
			</tbody>

		</table>

	{% endfor %}

		<div class="end">•</div>
	</article>
{% endblock %}
