{% extends 'layouts/default.html' %}

{% block title %}{{ site.title }} — {{ site.tagline }}{% endblock %}

{% block content %}
<section id="fresh-off-the-press">
  {% for file in files %}
    {% set title = file.title %}
    {% set slug = file.slug %}
    {% set date = file.date %}
    {% set content = file.content %}
    {% set categories = file.categories %}
    {% set tags = file.tags %}

  <article class="post">
    <header>
      <p class="post-date">{{ date }}</p>
      <h1 class="post-heading"><a href="/blog/{{ slug }}" class="post-permalink">{{ title }}</a></h1>
    </header>

    <div class="post-content">
      {{ content|safe }}
    </div>

    <footer class="cats-tags">
      {% include "includes/cats-tags.html" %}
      <!-- authour: whoevs -->
      <!-- share this: facebook | twitter | wherevs -->
    </footer>

    <div class="end">•</div>
  </article>
  {% endfor %}
</section>
{% endblock %}
