{% extends 'layouts/default.html' %}

{% block title %}{{ title }} | {{ site.title }}{% endblock %}

{% block content %}
<article class="post">
  <header>
    <p class="post-date">{{ date }}</p>
    <h1 class="post-heading"><a href="/blog/{{ slug }}" class="post-permalink">{{ title }}</a></h1>
  </header>

  <div class="post-content">
    {{ content|safe }}
  </div>

  <footer class="cats-tags">
    {% include "includes/cats-tags.html" %}
    <!-- authour: whoevs -->
    <!-- share this: facebook | twitter | wherevs -->
  </footer>

  <!--
    <section class="post-comments">
        <header><h1>Comments</h1></header>

        <article>
            <footer><p>Posted by: Joe Balochio</p></footer>
            <p>My comment</p>
        </article>

        <article>
            <footer><p>Posted by: Casey Brock</p></footer>
            <p>My comment</p>
        </article>
    </section>
    -->

  <div class="end">•</div>
</article>
{% endblock %}
