/ variable here to have title = "site.title — site.tagline"

<!-- @include _header -->

main id="l-main-content" role="main"
  <!-- @include _post -->

<!-- @include _sidebar -->
<!-- @include _footer -->
