/ variable here to have title = "post.title | site.title"

<!-- @include _header -->

main id="l-main-content" role="main"
  <!-- @include _post -->

<!-- @include _sidebar -->
<!-- @include _footer -->
